
#load {
    width: 1px;
    background-color: rgb(0, 0, 0);
    position: relative;
    left: -100px;
    top: -100px;
    animation: moveLoad 2s linear 1;


}


/* Определение анимации */
@keyframes moveLoad {
    0% {width: 0px;}

    50% {width: 10000px;}

    100% {width: 0px;}

}


